In [2]:
import pandas as pd

In [9]:
homelessness = pd.read_csv('homelessness.csv')

In [10]:
print(homelessness)

    Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop
0            864.0    4887681
1            582.0     735139
2           2606.0    7158024
3            432.0    3009733
4          20964.0   39461588
5           3250.0    5691287
6           1696.0    3571520
7            374.0     965479
8           3134.0     701547
9           9587.0   21244317
10          2556.0   10511131
11          2399.0    1420593
12           715.0    1750536
13          3891.0   12723071
14          1482.0    6695497
15          1038.0    3148618
16           773.0    2911359
17           953.0    4461153
18           519.0    4659690
19          1066.0    1339057
20          2230.0    6035802
21         13257.0    6882635
22          3142.0    9984072
23          3250.0    5606249
24           328.0    2981020
25          2107.0    6121623
26           422.0    1060665
27           676.0    1925614
28           486.0    3027341
29           615.0    1353465
30          3350.0    8886025
31           602.0    2092741
32         52070.0   19530351
33          2817.0   10381615
34            75.0     758080
35          3320.0   11676341
36          1048.0    3940235
37          3337.0    4181886
38          5349.0   12800922
39           354.0    1058287
40           851.0    5084156
41           323.0     878698
42          1744.0    6771631
43          6111.0   28628666
44           972.0    3153550
45           511.0     624358
46          2047.0    8501286
47          5880.0    7523869
48           222.0    1804291
49          2167.0    5807406
50           205.0     577601

In [11]:
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

In [12]:
print(homelessness)

    Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop     total
0            864.0    4887681    3434.0
1            582.0     735139    2016.0
2           2606.0    7158024    9865.0
3            432.0    3009733    2712.0
4          20964.0   39461588  129972.0
5           3250.0    5691287   10857.0
6           1696.0    3571520    3976.0
7            374.0     965479    1082.0
8           3134.0     701547    6904.0
9           9587.0   21244317   31030.0
10          2556.0   10511131    9499.0
11          2399.0    1420593    6530.0
12           715.0    1750536    2012.0
13          3891.0   12723071   10643.0
14          1482.0    6695497    5258.0
15          1038.0    3148618    2749.0
16           773.0    2911359    2216.0
17           953.0    4461153    3688.0
18           519.0    4659690    3059.0
19          1066.0    1339057    2516.0
20          2230.0    6035802    7144.0
21         13257.0    6882635   20068.0
22          3142.0    9984072    8351.0
23          3250.0    5606249    7243.0
24           328.0    2981020    1352.0
25          2107.0    6121623    5883.0
26           422.0    1060665    1405.0
27           676.0    1925614    2421.0
28           486.0    3027341    7544.0
29           615.0    1353465    1450.0
30          3350.0    8886025    9398.0
31           602.0    2092741    2551.0
32         52070.0   19530351   91897.0
33          2817.0   10381615    9268.0
34            75.0     758080     542.0
35          3320.0   11676341   10249.0
36          1048.0    3940235    3871.0
37          3337.0    4181886   14476.0
38          5349.0   12800922   13512.0
39           354.0    1058287    1101.0
40           851.0    5084156    3933.0
41           323.0     878698    1159.0
42          1744.0    6771631    7883.0
43          6111.0   28628666   25310.0
44           972.0    3153550    2876.0
45           511.0     624358    1291.0
46          2047.0    8501286    5975.0
47          5880.0    7523869   22304.0
48           222.0    1804291    1243.0
49          2167.0    5807406    4907.0
50           205.0     577601     639.0

In [26]:
homelessness["indiv_per_10k"] = homelessness["individuals"] / homelessness["state_pop"] * 10000

In [27]:
print(homelessness)

    Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop     total  indiv_per_10k
0            864.0    4887681    3434.0       5.258117
1            582.0     735139    2016.0      19.506515
2           2606.0    7158024    9865.0      10.141067
3            432.0    3009733    2712.0       7.575423
4          20964.0   39461588  129972.0      27.623825
5           3250.0    5691287   10857.0      13.366045
6           1696.0    3571520    3976.0       6.383837
7            374.0     965479    1082.0       7.333148
8           3134.0     701547    6904.0      53.738381
9           9587.0   21244317   31030.0      10.093523
10          2556.0   10511131    9499.0       6.605379
11          2399.0    1420593    6530.0      29.079406
12           715.0    1750536    2012.0       7.409159
13          3891.0   12723071   10643.0       5.306895
14          1482.0    6695497    5258.0       5.639611
15          1038.0    3148618    2749.0       5.434130
16           773.0    2911359    2216.0       4.956448
17           953.0    4461153    3688.0       6.130702
18           519.0    4659690    3059.0       5.451006
19          1066.0    1339057    2516.0      10.828516
20          2230.0    6035802    7144.0       8.141420
21         13257.0    6882635   20068.0       9.895919
22          3142.0    9984072    8351.0       5.217310
23          3250.0    5606249    7243.0       7.122409
24           328.0    2981020    1352.0       3.435066
25          2107.0    6121623    5883.0       6.168299
26           422.0    1060665    1405.0       9.267771
27           676.0    1925614    2421.0       9.062045
28           486.0    3027341    7544.0      23.314189
29           615.0    1353465    1450.0       6.169351
30          3350.0    8886025    9398.0       6.806193
31           602.0    2092741    2551.0       9.313145
32         52070.0   19530351   91897.0      20.392363
33          2817.0   10381615    9268.0       6.213869
34            75.0     758080     542.0       6.160300
35          3320.0   11676341   10249.0       5.934222
36          1048.0    3940235    3871.0       7.164547
37          3337.0    4181886   14476.0      26.636307
38          5349.0   12800922   13512.0       6.376884
39           354.0    1058287    1101.0       7.058577
40           851.0    5084156    3933.0       6.061970
41           323.0     878698    1159.0       9.514077
42          1744.0    6771631    7883.0       9.065763
43          6111.0   28628666   25310.0       6.706215
44           972.0    3153550    2876.0       6.037640
45           511.0     624358    1291.0      12.492833
46          2047.0    8501286    5975.0       4.620477
47          5880.0    7523869   22304.0      21.829195
48           222.0    1804291    1243.0       5.658732
49          2167.0    5807406    4907.0       4.718113
50           205.0     577601     639.0       7.513837

In [28]:
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

In [29]:
print(high_homelessness)

    Unnamed: 0          region                 state  individuals  \
4            4         Pacific            California     109008.0
8            8  South Atlantic  District of Columbia       3770.0
11          11         Pacific                Hawaii       4131.0
28          28        Mountain                Nevada       7058.0
32          32    Mid-Atlantic              New York      39827.0
37          37         Pacific                Oregon      11139.0
47          47         Pacific            Washington      16424.0

    family_members  state_pop     total  indiv_per_10k
4          20964.0   39461588  129972.0      27.623825
8           3134.0     701547    6904.0      53.738381
11          2399.0    1420593    6530.0      29.079406
28           486.0    3027341    7544.0      23.314189
32         52070.0   19530351   91897.0      20.392363
37          3337.0    4181886   14476.0      26.636307
47          5880.0    7523869   22304.0      21.829195

In [30]:
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending = False)

In [31]:
print(high_homelessness_srt)

    Unnamed: 0          region                 state  individuals  \
8            8  South Atlantic  District of Columbia       3770.0
11          11         Pacific                Hawaii       4131.0
4            4         Pacific            California     109008.0
37          37         Pacific                Oregon      11139.0
28          28        Mountain                Nevada       7058.0
47          47         Pacific            Washington      16424.0
32          32    Mid-Atlantic              New York      39827.0

    family_members  state_pop     total  indiv_per_10k
8           3134.0     701547    6904.0      53.738381
11          2399.0    1420593    6530.0      29.079406
4          20964.0   39461588  129972.0      27.623825
37          3337.0    4181886   14476.0      26.636307
28           486.0    3027341    7544.0      23.314189
47          5880.0    7523869   22304.0      21.829195
32         52070.0   19530351   91897.0      20.392363

In [32]:
state_indiv_per_10k = high_homelessness_srt[["state","indiv_per_10k"]]

In [33]:
print(state_indiv_per_10k)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363